# default reviewers
*                 @greenbone/gvm-libs-maintainers

# dev ops
.github/          @greenbone/devops @greenbone/gvm-libs-maintainers
.docker/          @greenbone/devops @greenbone/gvm-libs-maintainers
