# default reviewers
*                 @greenbone/scanner-maintainers @greenbone/gea

# dev ops
.github/          @greenbone/scanner-maintainers @greenbone/gea @greenbone/devops
.docker/          @greenbone/scanner-maintainers @greenbone/gea @greenbone/devops
