CWARN0 = 
CWARN1 = $(CWARN0) -Wwrite-strings -Wshadow
CWARN2 = $(CWARN1) -Wcast-align -Wcast-qual -Waggregate-return
CWARN3 = $(CWARN2) -Wstrict-prototypes -Wmissing-prototypes -Wmissing-declarations
CWARN4 = $(CWARN3) -Wconversion -Winline -Wtraditional
CWARN  = $(CWARN0)

# nessus.tmpl
#
# This file contains all the defines you may want to modify
#

SHELL = /bin/sh
CONFIGURE_ARGS = 


rootdir=/home/tmb/My Documents/My Development/OpenVAS/src/openvas-libraries

# Autoconf installation directories
prefix=/usr/local
exec_prefix=${prefix}
bindir=${exec_prefix}/bin
sbindir=${exec_prefix}/sbin
libexecdir=${exec_prefix}/libexec
datadir=${prefix}/share
sysconfdir=${prefix}/etc
sharedstatedir=${prefix}/com
localstatedir=${prefix}/var
libdir=${exec_prefix}/lib
includedir=${prefix}/include
oldincludedir=/usr/include
infodir=${prefix}/info
mandir=${prefix}/man

libsdir=${rootdir}/libs
top_builddir = /home/tmb/My Documents/My Development/OpenVAS/src/openvas-libraries
include= -I. -DHAVE_SSL -I/usr/include/openssl -I$(rootdir)/include -I$(rootdir)/libpcap-nessus
lib_dir=${exec_prefix}/lib
USE_CIPHER=-DNESSUS_ON_SSL
INSTALL=/usr/bin/install -c
INSTALL_DIR=/usr/bin/install -c -d
CIPHER_CFLAGS=-DNESSUS_ON_SSL

PCAP_MAKE=pcap-make
PCAP_INSTALL=pcap-install
PCAP_CLEAN=pcap-clean
PCAP_DISTCLEAN=pcap-distclean

WS2_32=


# Debugging ?
DEBUG = 

# Produce verbose SSL output ?
DEBUG_SSL = 


#
# Build our own libpcap ?
#
BUILD_PCAP=libpcap-nessus.la


# Some defines you may want to modify
DEFS=-DHAVE_CONFIG_H $(DEBUG_SSL) $(USE_CIPHER) $(DEBUG)
LDFLAGS=

# Your C compiler
CC=gcc -pipe
LIBS=-lutil -lnsl -lresolv 
LIBTOOL=$(SHELL) $(top_builddir)/libtool
RANLIB=ranlib

PACKAGE_VERSION = 4:5:2
