Source: openvas-libraries
Priority: optional
Maintainer: Debian OpenVAS Maintainers <openvas-distro-deb@wald.intevation.org>
Uploaders: Tim Brown <timb@nth-dimension.org.uk>, Javier Fernandez-Sanguino Pen~a <jfs@debian.org>, Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 5), autotools-dev, libgnutls-dev, libpcap-dev
Homepage: http://www.openvas.org/
Vcs-Browser: http://wald.intevation.org/plugins/scmsvn/viewcvs.php/trunk/openvas-libraries/packaging/debian/?root=openvas
Vcs-Svn: https://svn.wald.intevation.org/svn/openvas/trunk/openvas-libraries/packaging/debian/
Standards-Version: 3.8.0
Section: libs

Package: libopenvas1-dev
Section: libdevel
Architecture: any
Depends: libopenvas1 (= ${binary:Version})
Description: OpenVAS static libraries and headers
 The OpenVAS Security Scanner is a security auditing tool. It makes
 possible to test security modules in an attempt to find vulnerable
 spots that should be fixed.
 .
 It is made up of two parts: a server, and a client. The server/daemon,
 openvasd, is in charge of the attacks, whereas the client,
 OpenVAS-Client, provides the user a nice X11/GTK+ interface.
 .
 This package contains the required static libraries, headers, and
 openvas-config script.

Package: libopenvas1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenVAS shared libraries
 The OpenVAS Security Scanner is a security auditing tool. It makes
 possible to test security modules in an attempt to find vulnerable
 spots that should be fixed.
 .
 It is made up of two parts: a server, and a client. The server/daemon,
 openvasd, is in charge of the attacks, whereas the client,
 OpenVAS-Client, provides the user a nice X11/GTK+ interface.
 .
 This package contains the required shared libraries.
